/* -------------------- configuration -------------------- */

// use with RS, output length of 2688b

const int NUM_TAPES = 2; // number of tapes used by TM
const int N = (1 << 5); // number of states
const int T = 150; // for how many steps to emulate the TM
constexpr long long l = 12; // size of the design sets, bit length of each NW input
const int PAD_LENGTH = 0; // How much random padding is used per tape
const int INP_LENGTH = 15; // Input length taken for each tape
extern int TM[N][1 << NUM_TAPES]; // the TM itself
extern int random_pad[NUM_TAPES][PAD_LENGTH]; // the random pading

const int log_RS_q = 7; // q: RS field size
constexpr int RS_q = 1 << log_RS_q;
constexpr int RS_d = 32; // RS distance
constexpr int LOCAL_ENC_k = 2; // input size for every TM emulation when using local encoding, k+1 should divide l
