/* -------------------- configuration -------------------- */
// use with local encoding

const int NUM_TAPES = 3; // number of tapes used by TM
const int N = (1 << 5); // number of states
const int T = 100; // for how many steps to emulate the TM
constexpr long long l = 23*6; // size of the design sets, bit length of each NW input
const int PAD_LENGTH = 0; // How much random padding is used per tape
const int INP_LENGTH = 15; // Input length taken for each tape
extern int TM[N][1 << NUM_TAPES]; // the TM itself
extern int random_pad[NUM_TAPES][PAD_LENGTH]; // the random pading

const int log_RS_q = 8; // q: RS field size - TODO: calculate optimal
constexpr int RS_q = 1 << log_RS_q;
constexpr int RS_d = 32; // RS distance
constexpr int LOCAL_ENC_k = 22; // input size for every TM emulation when using local encoding, k+1 should divide l